.weather-container {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .weather-container h1.city-name {
    margin-right: 10px; /* Adjust spacing between elements */
  }